.card {
    width: 400px;
    display: flex;
    flex-direction: space-around;
    margin: 0 auto;
    background: #84a98c;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
    border: 2px solid #3b6978;
    font-family: sans-serif;
    text-align: left;
    text-shadow: 2px 2px 4px #cad2c5;
}

.logo {
    width: 150px;
    box-shadow: 4px 4px 8px #3b6978;
    animation-name: fadeOutAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
}
@keyframes myAnimation {
  from {background-color: #84a98c;}
  to {background-color: #cad2c5;}
}

div {
  animation-name: myAnimation;
  animation-duration: 10s;
}
.logo:hover {
  transform: translate(8px);
  transition: 2s ease;
}